<app-featured-component-base type="article" [image]="article().elements.image">
  <div>
    <h2 class="text-center xl:text-left text-5xl font-semibold text-burgundy">
      {{ article().elements.title.value }}
    </h2>
    @if (publishDate) {
      <p class="text-center xl:text-left text-gray-light mt-6 text-lg">
        Published on {{ publishDate }}
      </p>
    }
    <p class="text-left text-gray-700 mt-4 text-xl">
      {{ article().elements.introduction.value }}
    </p>
  </div>
  <a href="#" class="text-center xl:text-left text-burgundy text-xl mt-6 font-semibold underline">
    Read more
  </a>
</app-featured-component-base>
