<div class="flex flex-col gap-5 xl:gap-16 xl:flex-row py-5 xl:py-[104px] items-center">
  <div class="basis-1/3 relative">
    @if (img()) {
      <span class="px-3.5 py-1.5 absolute text-[12px] bg-azure text-white mt-4 ms-4 rounded-md font-bold">
        @if (type()) {
        <span>{{ badge() }}</span>}
      </span>
      <img
        width="640"
        height="420"
        [src]="img()!.url + '?auto=format&w=800'"
        [alt]="img()!.description ?? 'image alt'"
        class="object-cover rounded-lg"
      />
    }
  </div>
  <div class="basis-2/3 flex flex-col">
    <ng-content/>
  </div>
</div>
