@if (landingPage() === undefined) {
  <div class="grow flex items-center justify-center">
    <app-loader />
  </div>
} @else if (hasError()) {
  <app-error-page />
} @else if (landingPage() === null) {
  <div class="grow"></div>
} @else {
  <app-page-section color="bg-creme">
    <app-hero-image
      [headline]="landingPage()!.elements.headline"
      [subheadline]="landingPage()!.elements.subheadline"
      [heroImage]="landingPage()!.elements.hero_image"
    />
  </app-page-section>

  @if (landingPage()!.elements.body_copy) {
    <app-page-section color="bg-white">
      <app-page-content [body]="landingPage()!.elements.body_copy" />
    </app-page-section>
  }

  @if (landingPage()!.elements.featured_content) {
    <app-featured-content [featuredContent]="landingPage()!.elements.featured_content" />
  }
}
