<app-featured-component-base type="event" [image]="event().elements.image">
  <div>
    <h2 class="text-center xl:text-left text-5xl font-semibold text-burgundy">
      {{ event().elements.name.value }}
    </h2>
    <p class="text-center xl:text-left text-gray-light mt-6 text-lg">
      {{ dateRange() }}
    </p>
    <div class="flex mt-6 gap-2 justify-center xl:justify-normal flex-wrap">
      @for (tag of tags(); track tag) {
        <div class="px-4 py-2 border-solid border rounded-full border-[#1D1D1B]">
          <p class="text-[#1D1D1B] text-lg">{{ tag }}</p>
        </div>
      }
    </div>
    @if (descriptionHtml()) {
      <div class="mt-4" [innerHTML]="descriptionHtml()"></div>
    }
  </div>
  @if (showReadMore()) {
    <a href="#" class="text-center xl:text-left text-burgundy text-xl mt-6 font-semibold underline">
      Read more
    </a>
  }
</app-featured-component-base>
